/*@font-face {
    font-family: 'slabo_27pxregular';
    src: url('slabo27px-regular-webfont.woff2') format('woff2'),
         url('slabo27px-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Times';
}
.fonts-loaded body {
	font-family: 'slabo_27pxregular';
}*/


body {
	font-family: 'Times', serif;
}

.fonts-loaded body {
	font-family: 'Slabo 27px', serif;
}